*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.card{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 15px;
    opacity: 0;
    transition: all 1s;
}
.card-pera{
    text-align: center;
}

.active{
    opacity: 1;
}
div#btn {
    width: 50px;
    background: red;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div#btn1 {
    width: 50px;
    background: red;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}